* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    background: #232323;


}

.main {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./image/bg-image.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}

#main-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #fff;
    position: relative;
    top: 30%;

}

#main-section h1 {
    font-size: 3rem;

}

#main-section input {
    width: 400px;
    outline-color: white;
    color: #fff;

    /* background: transparent; */
    /* background-color: #fa0000; */
}

#main-section button {
    width: 200px;
    background-color: rgb(229, 9, 20);
}

#sub-btn {
    width: 200px;
}

.second-section {
    background: #000;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.second-sec-a{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.img-1 {
    width: 500px;
    position: relative;
}
.second-section .img-2 {
    width: 300px;
    position: relative;
}
.second-section .img-3 {
    width: 400px;
    position: relative;
}
.second-section .img-4 {
    width: 400px;
    position: relative;
}
.second-section p{
    width: 85%;
}
.sec-p-4{
    width: 85%;
}
.second-sec-2 {
    background: #000;

}

.second-sec-2 .container {
    width: 75%;
    height: 100%;
}

#footer-section {
    position: relative;
    /* top: 50%; */

}

#footer-section h1 {
    font-size: 3rem;

}

#footer-section input {
    width: 400px;
    outline-color: white;
    color: #fff;

    /* background: transparent; */
    /* background-color: #fa0000; */
}

#footer-section button {
    width: 200px;
    background-color: rgb(229, 9, 20);
}

@media only screen and (max-width: 450px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    img,
    svg {
        position: relative;
        vertical-align: middle;
        /* left: 21%; */
        width: 250px;
    }
    .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl {
        display: flex;
        flex-wrap: inherit;
        align-items: center;
        justify-content: center;
    }

    #sign-btn {
        /* left: 30%; */
    }

    #main-section {
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        top: 5%;
    }

    #main-section h1 {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 1.9rem;
        width: 95%;
        /* left: -9%; */

    }

    #main-section span {
        position: relative;
        text-align: center;
        /* font-size: rem; */
        width: 95%;
        /* left: -9%; */
    }

    #main-section p {
        position: relative;
        text-align: center;
        /* font-size: rem; */
        width: 95%;
        /* left: -9%; */
    }


    #main-section input {

        width: 300px;
        outline-color: white;
        color: #fff;

    }

    #main-section button {
        width: 300px;
        background-color: rgb(229, 9, 20);
    }

    /* Section 2 */

    .second-section {
        background: #000;
        height: 450px;
        display: flex;
        flex-direction: column;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
    .second-sec-a{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        position: relative;
        left: -15%;
    }
    .second-section .img-1 {
        position: relative;
        width: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        left: -11%;
    }
    .second-section p{
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .sec-p-all{
        text-align: center;
    }
    .second-section .img-2 {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 200px;
        left: 25%;
        position: relative;
    }
    .second-section .img-3 {
        width: 300px;
        position: relative;
    }
    .second-section .img-4 {
        width: 250px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        left: 20%;
    }
}